@import 'vendor/assets/stylesheets/dvl/core';

body {
  background: #2e3732;
  color: $white;
  text-align: center;
}

.container {
  max-width: 30rem;
  margin: 2rem auto 0;
}

.header {
  padding-top: $lineHeight * 2;
}

label {
  color: rgba($white, 0.9);
  font-size: 1.25rem;
  margin-bottom: $rhythm * 2;
  display: block;
}

textarea {
  margin-bottom: $rhythm;
}

.success {
  @include font_smoothing;
  font-size: 1.5rem;

  a {
    color: $white;
  }
}
